body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.input__box{
  width: 600px;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
}
.input__box input{
  font-size: 24px;
  border: none;
  border-bottom: 1px solid black;
}
button{
  height: 45px;
  width: 130px;
  background-color: #3BB273;
  color: aliceblue;
  border: none;
  font-weight: 800;
  font-size: 30px;
  border-radius: 7px;
  margin-left: 10px;
  cursor: pointer;
}

.details{
  background-color: lightgray;
  width: 600px;
  margin: 50px auto;
  border: 1px solid black;
  font-weight: 800;
  font-size: 25px;
  padding: 10px;
  background-color: #E15554;
}
.details__user{
  height: 100px;
  padding: 10px;
  color: aliceblue;
  background-color: #7768AE;
}
.details__repo{
  background-color: #E1BC29;
  padding: 10px;
  margin-top: 5px;
  color: #4D9DE0;
}
.details__repo div{
  margin-top: 10px;
}


 span{
  font-weight: 500;
  font-size: 20px;
  color: aliceblue;

}
